import React from 'react';
import PropTypes from 'prop-types';

import { combineClasses } from '@thesoulfresh/utils';

import styles from './{{pascalCase name}}.module.scss';

/**
 * `<{{pascalCase name}}>`
 *
 * @param {object} props
 * @param {string} [props.className]
 * @return {React.ReactElement}
 */
export function {{pascalCase name}}({
  className,
  ...rest
}) {
  return (
    <div data-testid="{{pascalCase name}}"
      className={combineClasses(styles.{{pascalCase name}}, className)}
      {...rest}
    >
    </div>
  );
}

{{pascalCase name}}.propTypes = {
};

/**
 * `<{{pascalCase name}}Connected>` connects the {{pascalCase name}}
 * component with the rest of the app (ie. routing, services, store, etc.).
 *
 * @param {object} props
 * @return {React.ReactElement}
 */
// eslint-disable-next-line no-empty-pattern
export function {{pascalCase name}}Connected({
  // history,
  // location,
  // match,
}) {
  return (
    <{{pascalCase name}}
    />
  );
}
